
"""
Configuration file
"""

# path to the directory where all data resides
datadir = "./data"

# address and port where connections will be waited for; if address is an
# empty string, the server waits at all IPs
addr = 'localhost'
port = 8027

# encoding used in data files
data_encoding = 'latin1'


class session:
    "Session handling configuration."

    # standard lifetime for sessions (in seconds)
    ttl = 10 * 60


class personal:
    "User's personal information configuration."

    # base directory where users' information resides
    basedir = datadir + '/users'

    # max number of entries in the cache
    cache_max = 20


